.cta{
  text-align: center;
  background: #efefef;
  padding: 16px 0;
  margin-top: 24px;
}

.cta-ttl{
  color: $color-main;
  font-size: 16px;
}

.cta-num{
  display: block;
  font-size: 24px;
  text-decoration: underline;
  margin: 8px 0;
}

.cta-info{
  font-size: 14px;
}